
<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header" id="kt_modal_add_user_header">
				<!--begin::Modal title-->
				<h2 class="fw-bolder">Büyük Baş kontrol</h2>
				<!--end::Modal title-->
				<!--begin::Close-->
				<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
			</div>
			<!--end::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
				<!--begin::Form-->
				<form id="kt_modal_add_user_form" class="form" action="#">
					<!--begin::Scroll-->
					<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
						<!--begin::Input group-->
						<!--end::Input group-->
						<div class="fv-row mb-4 row">
							<label class="required fw-bold fs-6 mb-2">İstek Id</label>

							<input class="form-control form-control-solid mb-3 mb-lg-0" type="text" name="guidName" id="guidId" value="" />
							<!--end::Input-->
						</div>
						<div class="fv-row mb-4 row">
							<input type="button" onclick="basla()" id="btnBasla" class="form-control  mb-3  btn btn-success" value="Otomatik Süreç" />
							<!--end::Input-->
						</div>
						<div class="fv-row mb-4 row">
							<div class="col-12">
								<!--begin::Label-->
								<label class="required fw-bold fs-6 mb-2">Eid</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" name="user_name" id="rfidTxt" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="RFID Okutun" />
								<label class="fw-bold fs-6 mb-2" id="tarihlbl"></label>
							</div>


							<!--end::Input-->
						</div>

						<!--begin::Input group-->
						<div class="fv-row mb-4 row">
							<div class="col-6">
								<!--begin::Label-->
								<label class="required fw-bold fs-6 mb-2">İlk Ağırlık</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" name="agirlik-name" id="agirlikTxt" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="İlk Ağırlık" />
								<label class="fw-bold fs-6 mb-2" id="tarihlbl"></label>
							</div>
							<div class="col-6">
								<label class="required fw-bold fs-6 mb-2">Son Ağırlık</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" name="agirlik-name" id="agirlikTxt" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Son Ağırlık" />
								<label class="fw-bold fs-6 mb-2" id="tarihlbl"></label>

							</div>
							<!--end::Input-->
						</div>





						<div class="fv-row mb-4 row">
							<div class="col-12">

								<input type="button" onclick="iptalEt();" class="form-control  mb-3  btn btn-danger" value="Otomatik Süreç İptal" />
							</div>



							<!--end::Input-->
						</div>

					
						<!--end::Input group-->
						<!--begin::Input group-->
					
						<!--end::Input group-->
						<!--begin::Input group-->
						<!--end::Input group-->
					</div>
					<!--end::Scroll-->
					<!--begin::Actions-->
					<div class="text-center pt-15">
						<button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Temizle</button>
						<button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
							<span class="indicator-label" id="btnIdd">Ekle</span>
							<span class="indicator-progress">
								Lütfen Bekleyin
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
							</span>
						</button>
					</div>
					<!--end::Actions-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>


<script>
	function basla() {
		// Make the AJAX request to the /api/BuyukBas endpoint
		fetch("/api/BuyukBas")
			.then(response => response.text())
			.then(guid => {
				// Once the response is received, set the value of the input field with id "guidId"
				document.getElementById("guidId").value = guid;
			})
			.catch(error => {
				// Handle any errors that might occur during the request
				console.error("Error fetching GUID:", error);
			});
	}

	function iptalEt() {
		// Make the AJAX request to the /BuyukBasIslem/iptalEt endpoint
		fetch("/BuyukBasIslem/iptalEt")
			.then(response => response.json())
			.then(data => {
				// If the response is successful and returns "1" as JSON
				if (data === "1") {
					// Close the modal using Bootstrap's modal method
					const modalElement = document.getElementById("kt_modal_add_user");
					const bootstrapModal = new bootstrap.Modal(modalElement);
					bootstrapModal.hide();

					// You can perform any additional actions here after a successful request
					console.log("Request was successful. Modal closed.");
				} else {
					// Handle the case if the response is not as expected
					console.error("Unexpected response:", data);
				}
			})
			.catch(error => {
				// Handle any errors that might occur during the request
				console.error("Error during request:", error);
			});
	}
</script>

